:root{
    --bs-bg-opacity: 0.5;
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%19F578'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
}



img {
    width: 100%;
} 
h3 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 50px;
}

h4 {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 20px;
    line-height: 0.5;
}

p {
    color: var(--bs-secondary-color);
    margin-bottom: 0;
}

section {
    width: 60vw;
}

section.title {
    margin-top: 7em;
    text-align: center;
}

.top>.title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.top>.title svg {
    color: var(--bs-secondary-color);
}

.divider {
    background-color: var(--bs-secondary-color);
}

.bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.tool-item .logo, .service-item .logo  {
    width: 40px;
}


.accordion-button {
    background-color: var(--bg-item)!important;
    border-radius: var(--border-radius)!important;
    border: 1px solid var(--bs-border-color);
    outline: none;
}

.accordion-item {
    background-color: transparent;
    border-radius: var(--border-radius)!important;
    border: none;
    margin: 1rem 0;
    box-shadow: none;
    
}

.accordion-item:focus {
    box-shadow: none!important;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-primary-color)
}

.info-container {
    display: flex;
    justify-content: space-evenly;
}

.info-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--bg-item);
    border-radius: var(--border-radius);
    border: 1px solid var(--bs-border-color);
    padding: 1rem;
    width: 300px;
    transition: all 500ms ease-in-out;
}

.info-container div:hover {
    color: var(--bs-primary-color);
}