@import "https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";


/*--------------------------------------------------------*/
/*------------------------ BASICS ------------------------*/
/*--------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    background-color: var(--bs-body-bg);
    background: linear-gradient(225deg, #cbe0e3 0%, #c4b5c7 100%);
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

body[data-bs-theme=dark] {
    background-color: var(--bs-body-bg);
    background: linear-gradient(225deg, #04191d 0%, #140217 100%);
}

nav {
    z-index: 5;
  }

a {
    cursor: pointer;
}

h1 {
    font-size: 90px;
    text-transform: uppercase;
    font-family: 'Oswald';
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    /* font-family: 'Oswald'; */
    margin-bottom: -10px;
    font-weight: 100;
}

/*--------------------------------------------------------*/
/*------------------------ NAVBAR ------------------------*/
/*--------------------------------------------------------*/


.navbar {
    position: fixed;
    top: 0;
    margin: 1rem 0;
    border-radius: var(--border-radius);
    left: 50%;
    width: 88%;
    transform: translateX(-50%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
  
.navbar-toggler:focus {
    -webkit-box-shadow: 0px 0px 5px 1px var(--bs-secondary-bg);
    -moz-box-shadow: 0px 0px 5px 1px var(--bs-secondary-bg);
    box-shadow: 0px 0px 5px 1px var(--bs-secondary-bg);
}

.navbar-brand img {
    width: 50px;
}

.navbar-collapse {
    flex-grow: 0;
}

/* CHANGE NAV ORDER WHEN MOBILE IS ACTIVE */

@media screen and (max-width: 992px) {
    
    .navbar>.container-fluid>.navbar-brand {
     order: 1;
    }
    .navbar>.container-fluid>button {
     order: 3;
    }
    .navbar>.container-fluid>.toggle-switch {
     order: 2;
    }
    .navbar>.container-fluid>.navbar-collapse {
     order: 4;
    }
    .navbar-nav {
        align-items: center;
    }
}

/* DARK/LIGHT THEME TOGGLE */

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    cursor: pointer;
  }
  
.toggle-switch input[type="checkbox"] {
    display: none;
}
  
.toggle-switch-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3e3940;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #1e1d1e;
    transition: background-color 0.3s ease-in-out;
}
  
.toggle-switch-handle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
  
.toggle-switch::before {
    content: "";
    position: absolute;
    top: -25px;
    right: -35px;
    font-size: 12px;
    font-weight: bold;
    color: #aaa;
    text-shadow: 1px 1px #fff;
    transition: color 0.3s ease-in-out;
}
  
.toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
    transform: translateX(45px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #ddd;
}
  
.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
    background-color: #ddd;
    box-shadow: inset 0 0 0 2px #ccc;
}
  
.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
    content: "On";
    color: #ccc;
    right: -15px;
}
  
.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
    transform: translateX(20px);
}

.breadcrumb-item a {
    color: var(--bs-primary-color);
    text-decoration:none;
}

/*--------------------------------------------------------*/
/*----------------------- BUTTONS ------------------------*/
/*--------------------------------------------------------*/

.btn {
    padding: 1rem 5rem;
    color: var(--bs-body-color);
    border-color: var(--bs-body-color);
    text-transform: uppercase;
    border-radius: var(--border-radius);
}

.btn:hover {
    background-color: transparent;
    border-color: var(--bs-body-color);
    color:var(--bs-body-color)
}

.btn svg:nth-child(1) {
    position: absolute;
    margin-left: -2rem;
    opacity: 0;
    transition: margin-left 500ms ease-in-out, opacity 500ms ease-in-out;
}

.btn:hover svg:nth-child(1) {
    opacity: 1;
    margin-left: -3.4rem;
}

.btn svg:nth-child(2) {
    position: absolute;
    margin-left: 1rem;
    opacity: 0;
    transition: margin-left 500ms ease-in-out, opacity 500ms ease-in-out;
}

.btn:hover svg:nth-child(2) {
    opacity: 1;
    margin-left: 2rem;
}

.btn:active {
    color: var(--bs-body-color)!important;
    background-color: var(--bs-primary-color)!important;
    border-color: var(--bs-primary-color)!important;
}

/*--------------------------------------------------------*/
/*----------------------- FOOTER -------------------------*/
/*--------------------------------------------------------*/

.empty-space {
    width: 100%;
    height: 50px;
}


footer {
    min-height: 100dvh ;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 3;
    width: 85dvw;
}

footer ul {
    padding-left: 0;
}

footer button {
    width: fit-content;
}

footer .divider {
    margin: 3rem 0;
}

.port-btn {
    margin-left: 25%;
}

.foot-nav {
    display: flex;
    list-style: none;
    margin: 0;
}

.copy {
    font-size: 12px;
}

.divider.extra {
    margin-top: 9em;
}

/*--------------------------------------------------------*/
/*------------------------ FLOAT -------------------------*/
/*--------------------------------------------------------*/

.available {
    /* background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity)); */
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: var(--border-radius);
    /* border: 1px solid var(--bs-body-color); */
    padding: 0.7rem 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 5;
}

.pulse-green
{
	background-color:rgb(var(--av-color-green));
	width:7px;
	height:7px;
	border-radius:50%;
	animation: pulse-animation-green 3s infinite;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.pulse-red
{
	background-color:rgb(var(--av-color-red));
	width:10px;
	height:10px;
	border-radius:50%;
	animation:pulse-animation-red 3s infinite
}

.available p {
    margin: 0;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--bs-body-color);
    margin: 3rem 0 3rem 0;
}