/*--------------------------------------------------------*/
/*-------------------- PORTRAIT TABLET -------------------*/
/*--------------------------------------------------------*/
@media only screen and (min-width: 1120px) and (max-height: 1024px) {
    .hero {
        justify-content: center!important;
        margin-top: 10dvh;
    }
}

/*--------------------------------------------------------*/
/*------------------------ TABLET ------------------------*/
/*--------------------------------------------------------*/

@media only screen and (max-width: 1120px) {

    .scroll-wrapper {
        margin: 3rem 0 1rem 0;

        align-items: center;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 20px;
        line-height: 1.7;
    }

    .hero {
        margin-top: 2rem;
        justify-content: center!important;
    }

}

/*--------------------------------------------------------*/
/*-------------------- SMALLER TABLET --------------------*/
/*--------------------------------------------------------*/

@media only screen and (max-width: 1024px) {
    canvas {
        margin-left: 60dvh;
    }
    .mobile-scroll {
        display: block;
        position: absolute;
        width: 100dvw;
        height: 75dvh;
        overflow: hidden;
        top: 0;
        z-index: 4;
    }

    .showcase {
        width: 50dvw;
    }

    section.hero, section.showcase {
        margin-left: 15rem;
    }

    .showcase h3 {
        font-size: 30px;
    }

    footer h1 {
        text-align: center;
    }

    .info-container {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .bottom {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .about-me .info {
        flex-direction: column;
        align-items: center;
    }

    .info-container {
        display: flex;
    }

    .info-container h3, .info-container h4, .info-container p {
        text-align: center;
    }

    .stats-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .project-info {
        flex-direction: column;
        align-items: center;
    }

    .sticky {
        position: relative;
        top: 0;
        height: auto;
    }

    .item-container {
        width: 60dvw;
        margin-top: 1rem;
    }



/*--------------------------------------------------------*/
/*--------------- PORTRAIT SMALLER TABLET ----------------*/
/*--------------------------------------------------------*/

@media only screen and (max-width: 1024px) and (min-height: 1024px) {
    .scroll-wrapper {
        margin: 6rem 0 3rem 0;
    }

    .hero h1 {
        margin: 0rem 0 2rem 0;
    }

    .mouse {
        margin-top: 2rem;
    }

}

/*--------------------------------------------------------*/
/*------------------------ MOBILE ------------------------*/
/*--------------------------------------------------------*/

@media only screen and (max-width: 500px){
    section.hero, section.showcase {
        margin-left: 0;
    }

    nav {
        min-width: 90%!important;
    }
    
    .hero {
        width: 90%;
        justify-content: start!important;
        align-items: end!important;
        text-align: right!important;
        margin-top: 6rem;
    }
    
    h1 {
        font-size: 50px;
    }
    
    .hero h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .hero-bg {
        overflow: hidden;
        position: fixed;
        bottom: 0;
    }

    canvas {
        margin-left: 120dvw;
        height: 150dvw;
    }
    
    .hero-bg {
        z-index: 2;
    }
    
    .scroll-wrapper {
        position: fixed;
        bottom: 10dvh;
        
    }
      
    .scroll-title {
        transform: rotate(0deg);
        margin-bottom: 25px;
    }

    .showcase {
        width: 90%;
    }
    
    .showcase .title {
        min-height: 10dvh;
    }
    
    .showcase .img-container {
        /* display: flex; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        width: auto;
        
    }
    
    .showcase .img-container img {
        border-radius: var(--border-radius);
        width: 90%;
    }
    
    
    .showcase h3 {
        font-size: 40px;
        text-transform: uppercase;
        font-family: 'Oswald';
    }
    
    .showcase h4 {
        font-size: 12px;
        text-transform: uppercase;
        /* font-family: 'Oswald'; */
        margin-bottom: -5px;
        font-weight: 100;
    }

    .showcase .item {
        flex-direction: column;
    }

    .showcase .content {
        text-align: center!important;
        margin: 0!important;
    }
    
    .divider {
        width: 100%;
        height: 1px;
        background-color: var(--bs-body-color);
        margin: 3rem 0 3rem 0;
    }

    footer {
        width: 90%;
    }

    footer .nav-item {
        padding: 0 1px!important;
    }

    .port-btn {
        margin-left: 0;
    }

    .element-item {
        /* position: relative; */
        max-width: 500px;
        /* text-align: center; */
        
    }

    h3 {
        font-size: 40px;
    }

}
}