/*--------------------------------------------------------*/
/*------------------------- INDEX ------------------------*/
/*--------------------------------------------------------*/
@media only screen and (min-width: 1120px) and (max-height: 1024px) {
    .hero {
        justify-content: center!important;
        margin-top: 10vh;
    }
}

@media only screen and (max-width: 1120px) {

    .scroll-wrapper {
        margin: 3rem 0 1rem 0;

        align-items: center;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 20px;
        line-height: 1.7;
    }

    .hero {
        margin-top: 2rem;
        justify-content: center!important;
    }

    canvas {
        /* margin-top: -9rem; */
        /* margin-left: 100rem;  */
    }
}

@media only screen and (max-width: 1024px) {
    canvas {
        margin-left: 60vh;
    }
}

@media only screen and (max-width: 1024px) and (min-height: 1024px) {
    .scroll-wrapper {
        margin: 6rem 0 3rem 0;
    }

    .hero h1 {
        margin: 0rem 0 2rem 0;
    }

    .mouse {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 500px){
    section {
        margin-left: 0;
    }

    nav {
        min-width: 90%!important;
    }
    
    .hero {
        width: 90%;
        justify-content: start!important;
        align-items: end!important;
        text-align: right!important;
        margin-top: 6rem;
    }
    
    .hero h1 {
        font-size: 50px;
    }
    
    .hero h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .hero-bg {
        overflow: hidden;
        position: fixed;
        bottom: 0;
    }

    canvas {
        margin-left: 120vw;
        height: 150vw;
    }
    
    .hero-bg {
        z-index: 2;
    }
    
    .scroll-wrapper {
        position: fixed;
        bottom: 10vh;
        
    }
      
    .scroll-title {
        transform: rotate(0deg);
        margin-bottom: 25px;
    }

    .showcase {
        width: 90%;
    }
    
    .showcase .title {
        min-height: 10vh;
    }
    
    .showcase .img-container {
        /* display: flex; */
        display: flex;
        align-items: center;
        
    }
    
    .showcase .img-container img {
        border-radius: var(--border-radius);
        width: 100%;
    }
    
    
    .showcase h3 {
        font-size: 40px;
        text-transform: uppercase;
        font-family: 'Oswald';
    }
    
    .showcase h4 {
        font-size: 12px;
        text-transform: uppercase;
        /* font-family: 'Oswald'; */
        margin-bottom: -5px;
        font-weight: 100;
    }
    
    .divider {
        width: 100%;
        height: 1px;
        background-color: var(--bs-body-color);
        margin: 3rem 0 3rem 0;
    }

    .mobile-scroll {
        display: block;
        position: absolute;
        width: 100vw;
        height: 75vh;
        overflow: hidden;
        top: 0;
        z-index: 4;
    }
}
